SUPABASE_AUTH_EXTERNAL_GITHUB_REDIRECT_URI="http://127.0.0.1:54321/auth/v1/callback"
SUPABASE_AUTH_EXTERNAL_GITHUB_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_GITHUB_SECRET=

# Workflow API backend services
DATABASE_URL="postgres://postgres:password@host:6543/postgres?pgbouncer=true"
DIRECT_URL="postgres://postgres:password@host:5432/postgres"
WORKFLOW_API_PORT=3010
TRIGGER_PROJECT_REF=
TRIGGER_SECRET_KEY=
TRIGGER_API_URL=
