http://{$APP_DOMAIN} {
    encode gzip zstd

    handle /api/* {
        reverse_proxy api:3002
    }

    handle /socket.io/* {
        reverse_proxy api:3002
    }

    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
